<h1>Office Gear Swap Meet!</h1>

<% if listings.empty? %>
<h2>No listings yet. :(</h2>
<% else %>
<ul>
  <% listings.each do |listing| %>
  <li>(<%= listing.id %>) <%= listing.title %> - <%= listing.body %></li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Make a new listing', new_listing_path %>
